@import "nullstyle.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

$color-link: #222222;
$link-hover: #fd8558;
$color-gray: #999999;
$color-white: #ffffff;
$color-description: #333333;
$color-bigtext: #f7f7f7;
$btn-hover: #f95011;
$border-color: #eeeeee;


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    margin-right: 60px;
  }

  &__links {
    display: flex;
  }

  &__link {
    padding: 35px 0;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link-item {
    font-size: 15px;
    color: $color-link;

    &:hover {
      color: $link-hover;
      transition: color 0.3s linear;
    }
  }
}

.header {
  background: url("./img/img_header/Group.jpg") center no-repeat;
  text-align: center;
  color: $color-white;
  margin-bottom: 210px;

  &__content {
    padding-top: 181.5px;
    padding-bottom: 318.5px;
  }

  &__text {
    margin-bottom: 40.5px;
    line-height: 85.4px;

    h1 {
      font-size: 70px;
    }
  }

  &__btns-left {
    background-color: transparent;
    margin-right: 30px;

    &:hover {
      background-color: $link-hover;
    }
  }

  &__btns-right {
    background-color: transparent;

    &:hover {
      background-color: $link-hover;
    }
  }
}

.btn {
  color: $color-white;
  font-size: 15px;
  line-height: 30px;
  padding: 12px 38px;
  border: 1px solid $link-hover;
  transition: background-color 0.3s ease-in-out;
}

.about {
  position: relative;
  margin-bottom: 60px;

  &:before {
    content: "about";
    position: absolute;
    top: -170px;
    left: -130px;
    font-size: 150px;
    line-height: 145px;
    color: $color-bigtext;
  }

  &__top {
    display: flex;
    margin-bottom: 60px;
  }

  &__bottom {
    display: flex;
    padding: 0 63px;
  }

  &__card {
    margin-top: 185px;
  }

  &__card-list {
    display: flex;
  }

  &__card-item {
    margin: 0 15px;
    text-align: center;
    padding: 0 20px;
  }

  &__card-img {
    margin-bottom: 20px;
  }

  &__card-title {
    font-size: 24px;
    line-height: 38.4px;
    color: $color-description;
    margin-bottom: 15px;
  }

  &__card-description {
    font-size: 15px;
    line-height: 25.5px;
    color: $color-gray;
  }
}

.left {
  &__top {
    max-width: 510px;
    width: 100%;
  }

  &__top-title {
    padding-top: 28px;
  }

  &__top-description {
    font-size: 40px;
    line-height: 54px;
    color: $color-description;
    margin-top: 34px;
  }
}

.title {
  font-size: 14px;
  color: $link-hover;
  line-height: 15.4px;
  text-transform: uppercase;
}

.right {
  &__top {
    max-width: 660px;
    padding: 0 10px 0 60px;
  }

  &__top-title {
    font-size: 18px;
    line-height: 28px;
    color: $color-link;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  &__top-description {
    font-size: 15px;
    line-height: 25.5px;
    color: $color-gray;
  }
}

.text {
  &__bottom {
    margin-left: 50px;
    padding: 0 15px;
  }

  &__bottom-desc {
    font-size: 26px;
    line-height: 45px;
    color: $color-link;
    padding-top: 68px;
    max-width: 387px;

    span {
      color: $link-hover;
      font-style: italic;
    }
  }

  &__bottom-fio {
    display: flex;
    flex-direction: column;
    padding-top: 97px;
  }

  &__bottom-name {
    font-size: 20px;
    line-height: 20px;
    color: $color-link;
    margin-bottom: 20px;
  }

  &__bottom-spec {
    font-size: 12px;
    line-height: 21.6px;
    color: #cacaca;
  }
}

.works {
  text-align: center;
  margin-bottom: 155px;

  &__container {
    position: relative;

    &:after {
      content: "works";
      position: absolute;
      font-size: 200px;
      line-height: 180px;
      color: $color-bigtext;
      z-index: -1;
      right: -100px;
    }
  }


  &__content {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__text {
    padding-top: 40px;
  }

  &__text-title {
    font-size: 14px;
    line-height: 15.4px;
    letter-spacing: 2px;
    text-align: left;
  }

  &__text-subtitle {
    font-size: 32px;
    line-height: 38.4px;
    text-align: left;
  }

  &__content-btn {
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    color: $color-white;
    padding: 13px 37px;
    background-color: $link-hover;

    &:hover {
      background-color: $btn-hover;
    }

    transition: background-color 0.3s ease-in-out;
    z-index: 2;
  }
}

.shop {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 115px;

  &__container {
    width: 100%;
    max-width: 1440px;
    display: flex;
  }

  &__box-left {
    display: flex;
    flex-direction: column;
  }

  &__box-ltop {
    background: url("./img/img_wrks/crazy_max.png") center no-repeat;
    width: 360px;
    height: 360px;
  }

  &__box-container {
    width: 90%;
    padding: 40px;
    background-color: $color-white;
    opacity: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box-title {
    font-size: 24px;
    line-height: 33px;
    color: $color-link;
  }

  &__box-check {
    width: 46px;
    height: 46px;
    border: 2px solid black;
  }

  &__box-lbottom {
    background: url("./img/img_wrks/stylish.png") center no-repeat;
    width: 360px;
    height: 360px;
  }

  &__box-center {
    background: url("./img/img_wrks/backgroung.png") center no-repeat;
    width: 100%;
    height: 100%;
  }

  &__box-right {
    display: flex;
    flex-direction: column;
  }

  &__box-rtop {
    background: url("./img/img_wrks/differents.png") center no-repeat;
    width: 360px;
    height: 360px;
  }

  &__box-rbottom {
    background: url("./img/img_wrks/crazy_max.png") center no-repeat;
    width: 360px;
    height: 360px;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
}

.skills {
  &__container {
    display: flex;
    align-items: center;
  }

  &__text {
    max-width: 527px;
    margin-right: 78px;
  }

  &__subtitle {
    font-size: 32px;
    line-height: 38.4px;
    max-width: 388px;
    margin-bottom: 12px;
  }

  &__description {
    font-size: 14px;
    line-height: 25.5px;
    color: $color-gray;
    max-width: 456px;
  }

  &__links {
    max-width: 600px;
    width: 100%;
    margin-bottom: 45px;
  }

  &__links-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__links-line {
    width: 600px;
    height: 10px;
    background-color: $border-color;
    position: relative;
  }

  &__links-title {
    font-size: 18px;
    line-height: 25.2px;
    color: $color-link;
  }

  &__links-proc {
    font-size: 15px;
    line-height: 23.4px;
    color: $color-gray;
  }
}

.line1 {
  &:before {
    content: "";
    position: absolute;
    width: 540px;
    height: 10px;
    background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
  }
}

.line2 {
  &:before {
    content: "";
    position: absolute;
    width: 480px;
    height: 10px;
    background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
  }
}

.line3 {
  &:before {
    content: "";
    position: absolute;
    width: 570px;
    height: 10px;
    background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
  }
}

.proc1 {
  padding-right: 67px;
}

.proc2 {
  padding-right: 115px;
}

.proc3 {
  padding-right: 36px;
}

.team {

  &__container {
    text-align: center;
    padding-top: 109px;
  }

  &__title {
    display: block;
  }

  &__subtitle {
    display: block;
    font-size: 32px;
    line-height: 41.6px;
    padding-top: 26px;
  }

  &__photobox {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
  }

  &__box-name {
    font-size: 24px;
    line-height: 30px;
    color: $color-white;
    margin-bottom: 5px;
  }

  &__box-creater {
    font-size: 14px;
    line-height: 23.8px;
    color: $color-white;
  }

  &__btn {
    margin-top: 80px;
    padding: 13px 37px;
    background: $link-hover;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: $color-white;
    margin-bottom: 115px;

    &:hover {
      background: $btn-hover;
      transition: background 0.3s linear;
    }
  }
}

.photo1 {
  background: url("./img/img_team/anna.jpg") center no-repeat;
}

.photo2 {
  background: url("./img/img_team/andy.jpg") center no-repeat;
}

.photo3 {
  background: url("./img/img_team/katy.jpg") center no-repeat;
}

.photo4 {
  background: url("./img/img_team/margo.jpg") center no-repeat;
}

.photo5 {
  background: url("./img/img_team/kanye.jpg") center no-repeat;
}

.photo6 {
  background: url("./img/img_team/matra.jpg") center no-repeat;
}

.testimonials {
  background-color: #3a0f73;

  &__container {
    padding: 334px 120px 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__text {
    position: relative;
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0.2px;
    color: $color-white;
    text-align: center;
    max-width: 824px;
    width: 100%;
    margin-bottom: 64px;

    &:before {
      content: "testimonials";
      position: absolute;
      font-size: 200px;
      line-height: 220px;
      color: $color-bigtext;
      opacity: 0.1;
      top: -280px;
      left: -220px;
    }
  }

  &__bio {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 60px;
    height: 60px;
    background: url("./img/testimonials_img/testimonials.png") center no-repeat;
    margin-right: 15px;
  }

  &__fio {
    font-size: 14px;
    line-height: 22.4px;
    color: $color-white;
  }

  &__name {
    font-size: 14px;
    line-height: 22.4px;
    color: $color-white;
  }

  &__creater {
    font-size: 16px;
  }
}

.planet {
  &__container {
    padding-top: 125px;
    text-align: center;
  }

  &__title {
    display: block;
    margin-bottom: 43px;
  }

  &__subtitle {
    display: block;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 41.6px;
    color: $color-link;
  }

  &__list {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    gap: 30px;
  }

  &__items {
    text-align: left;
    font-size: 15px;
    line-height: 21px;

    &:hover {
      transform: scale(1.05);
      transition: transform .3s linear;
    }
  }

  &__img {
    width: 360px;
    height: 243px;
  }

  &__tag {
    padding-top: 28px;

  }

  &__style {
    color: $link-hover;
    padding-right: 5px;
  }

  &__design {
    color: $link-hover;
  }

  &__date {
    color: $color-gray;
    position: relative;
    padding-left: 30px;

    &:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background: #DFDEDE;
      top: 8px;
      left: 15px;
    }
  }

  &__text {
    padding-top: 20px;
    font-size: 24px;
    line-height: 33px;
    color: $color-link;
    max-width: 326px;
    margin-bottom: 36px;
  }

  &__link {
    font-size: 15px;
    line-height: 31px;
    color: $link-hover;

    &:hover {
      color: #8D2701;
      transition: color .3s linear;
    }
  }
}

.message {
  padding-top: 115px;

  &__container {
    display: flex;
  }

  &__text {
    margin-right: 132px;
  }

  &__text-top {
    margin-bottom: 45px;
  }

  &__text-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: $color-link;
    opacity: 0.4;
  }


  &__text-subtitle {
    font-size: 24px;
    line-height: 33px;
    color: $color-link;
  }


  &__form-top {
    margin-bottom: 30px;

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
      color: $color-gray;
    }

  }

  &__form-name {
    padding: 20px 40px;
    width: 338px;
    height: 58px;
    border: 1px solid $border-color;
    margin-right: 30px;

    &:focus {
      transition: box-shadow .3s linear;
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }
  }

  &__form-mail {
    padding: 20px 40px;
    width: 338px;
    height: 58px;
    border: 1px solid $border-color;

    &:focus {
      transition: box-shadow .3s linear;
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }
  }

  &__form-text {
    padding: 20px 40px;
    width: 100%;
    height: 128px;
    border: 1px solid $border-color;
    resize: none;

    &:focus {
      transition: box-shadow .3s linear;
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }
  }

  &__form-btn {
    margin-top: 65px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: $color-white;
    padding: 17px 38px;
    background: $link-hover;

    &:hover {
      background: $btn-hover;
      transition: background 0.3s linear;
    }
  }
}

.footer {
  background: #111111;
  color: $color-white;
  margin-top: 100px;

  &__container {
    padding: 90px 0;
  }

  &__top {
    display: flex;
  }

  &__top-left {
    margin-right: 120px;
  }

  &__top-logo {
    font-size: 40px;
    line-height: 54px;
    display: block;
    margin-bottom: 20px;
    color: $border-color;

  }

  &__phone {
    font-size: 15px;
    line-height: 22.5px;
    color: $color-white;
    opacity: .6;
    margin-right: 20px;
  }

  &__span {
    font-size: 15px;
    line-height: 22.5px;
    color: $color-white;
    opacity: .6;
    position: relative;
    margin-right: 10px;

    &:before {
      content: "";
      position: absolute;
      width: 2px;
      height: 15px;
      background: #A0A0A0;
      top: 4px;
      left: -9px;
    }
  }

  &__mail {
    font-size: 15px;
    line-height: 22.5px;
    color: $color-white;
    opacity: .6;
  }

  &__top-right {
    display: flex;

  }

  &__list {
    &:not(:last-child) {
      margin-right: 130px;
    }
  }

  &__links {
  }

  &__link-bold {
    display: block;
    font-size: 24px;
    line-height: 31.2px;
    color: $color-white;
    margin-bottom: 20px;
  }

  &__link {
    font-size: 14px;
    line-height: 19.4px;
    color: #BABABA;
    display: block;
    margin-bottom: 10px;

    &:hover {
      color: $color-white;
      transition: color .3s linear;
    }
  }

  &__bottom {
    margin-top: 70px;
    text-align: center;
  }

  &__bottom-text {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #BABABA;

    span {
      color: $color-white;
    }
  }
}

