@import "nullstyle.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__list {
  display: flex;
  margin-right: 60px;
}
.navigation__links {
  display: flex;
}
.navigation__link {
  padding: 35px 0;
  margin-right: 30px;
}
.navigation__link:last-child {
  margin-right: 0;
}
.navigation__link-item {
  font-size: 15px;
  color: #222222;
}
.navigation__link-item:hover {
  color: #fd8558;
  transition: color 0.3s linear;
}

.header {
  background: url("./img/img_header/Group.jpg") center no-repeat;
  text-align: center;
  color: #ffffff;
  margin-bottom: 210px;
}
.header__content {
  padding-top: 181.5px;
  padding-bottom: 318.5px;
}
.header__text {
  margin-bottom: 40.5px;
  line-height: 85.4px;
}
.header__text h1 {
  font-size: 70px;
}
.header__btns-left {
  background-color: transparent;
  margin-right: 30px;
}
.header__btns-left:hover {
  background-color: #fd8558;
}
.header__btns-right {
  background-color: transparent;
}
.header__btns-right:hover {
  background-color: #fd8558;
}

.btn {
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  padding: 12px 38px;
  border: 1px solid #fd8558;
  transition: background-color 0.3s ease-in-out;
}

.about {
  position: relative;
  margin-bottom: 60px;
}
.about:before {
  content: "about";
  position: absolute;
  top: -170px;
  left: -130px;
  font-size: 150px;
  line-height: 145px;
  color: #f7f7f7;
}
.about__top {
  display: flex;
  margin-bottom: 60px;
}
.about__bottom {
  display: flex;
  padding: 0 63px;
}
.about__card {
  margin-top: 185px;
}
.about__card-list {
  display: flex;
}
.about__card-item {
  margin: 0 15px;
  text-align: center;
  padding: 0 20px;
}
.about__card-img {
  margin-bottom: 20px;
}
.about__card-title {
  font-size: 24px;
  line-height: 38.4px;
  color: #333333;
  margin-bottom: 15px;
}
.about__card-description {
  font-size: 15px;
  line-height: 25.5px;
  color: #999999;
}

.left__top {
  max-width: 510px;
  width: 100%;
}
.left__top-title {
  padding-top: 28px;
}
.left__top-description {
  font-size: 40px;
  line-height: 54px;
  color: #333333;
  margin-top: 34px;
}

.title {
  font-size: 14px;
  color: #fd8558;
  line-height: 15.4px;
  text-transform: uppercase;
}

.right__top {
  max-width: 660px;
  padding: 0 10px 0 60px;
}
.right__top-title {
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  margin-bottom: 10px;
  padding-top: 10px;
}
.right__top-description {
  font-size: 15px;
  line-height: 25.5px;
  color: #999999;
}

.text__bottom {
  margin-left: 50px;
  padding: 0 15px;
}
.text__bottom-desc {
  font-size: 26px;
  line-height: 45px;
  color: #222222;
  padding-top: 68px;
  max-width: 387px;
}
.text__bottom-desc span {
  color: #fd8558;
  font-style: italic;
}
.text__bottom-fio {
  display: flex;
  flex-direction: column;
  padding-top: 97px;
}
.text__bottom-name {
  font-size: 20px;
  line-height: 20px;
  color: #222222;
  margin-bottom: 20px;
}
.text__bottom-spec {
  font-size: 12px;
  line-height: 21.6px;
  color: #cacaca;
}

.works {
  text-align: center;
  margin-bottom: 155px;
}
.works__container {
  position: relative;
}
.works__container:after {
  content: "works";
  position: absolute;
  font-size: 200px;
  line-height: 180px;
  color: #f7f7f7;
  z-index: -1;
  right: -100px;
}
.works__content {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.works__text {
  padding-top: 40px;
}
.works__text-title {
  font-size: 14px;
  line-height: 15.4px;
  letter-spacing: 2px;
  text-align: left;
}
.works__text-subtitle {
  font-size: 32px;
  line-height: 38.4px;
  text-align: left;
}
.works__content-btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  padding: 13px 37px;
  background-color: #fd8558;
  transition: background-color 0.3s ease-in-out;
  z-index: 2;
}
.works__content-btn:hover {
  background-color: #f95011;
}

.shop {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 115px;
}
.shop__container {
  width: 100%;
  max-width: 1440px;
  display: flex;
}
.shop__box-left {
  display: flex;
  flex-direction: column;
}
.shop__box-ltop {
  background: url("./img/img_wrks/crazy_max.png") center no-repeat;
  width: 360px;
  height: 360px;
}
.shop__box-container {
  width: 90%;
  padding: 40px;
  background-color: #ffffff;
  opacity: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop__box-title {
  font-size: 24px;
  line-height: 33px;
  color: #222222;
}
.shop__box-check {
  width: 46px;
  height: 46px;
  border: 2px solid black;
}
.shop__box-lbottom {
  background: url("./img/img_wrks/stylish.png") center no-repeat;
  width: 360px;
  height: 360px;
}
.shop__box-center {
  background: url("./img/img_wrks/backgroung.png") center no-repeat;
  width: 100%;
  height: 100%;
}
.shop__box-right {
  display: flex;
  flex-direction: column;
}
.shop__box-rtop {
  background: url("./img/img_wrks/differents.png") center no-repeat;
  width: 360px;
  height: 360px;
}
.shop__box-rbottom {
  background: url("./img/img_wrks/crazy_max.png") center no-repeat;
  width: 360px;
  height: 360px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
}

.skills__container {
  display: flex;
  align-items: center;
}
.skills__text {
  max-width: 527px;
  margin-right: 78px;
}
.skills__subtitle {
  font-size: 32px;
  line-height: 38.4px;
  max-width: 388px;
  margin-bottom: 12px;
}
.skills__description {
  font-size: 14px;
  line-height: 25.5px;
  color: #999999;
  max-width: 456px;
}
.skills__links {
  max-width: 600px;
  width: 100%;
  margin-bottom: 45px;
}
.skills__links-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.skills__links-line {
  width: 600px;
  height: 10px;
  background-color: #eeeeee;
  position: relative;
}
.skills__links-title {
  font-size: 18px;
  line-height: 25.2px;
  color: #222222;
}
.skills__links-proc {
  font-size: 15px;
  line-height: 23.4px;
  color: #999999;
}

.line1:before {
  content: "";
  position: absolute;
  width: 540px;
  height: 10px;
  background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
}

.line2:before {
  content: "";
  position: absolute;
  width: 480px;
  height: 10px;
  background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
}

.line3:before {
  content: "";
  position: absolute;
  width: 570px;
  height: 10px;
  background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
}

.proc1 {
  padding-right: 67px;
}

.proc2 {
  padding-right: 115px;
}

.proc3 {
  padding-right: 36px;
}

.team__container {
  text-align: center;
  padding-top: 109px;
}
.team__title {
  display: block;
}
.team__subtitle {
  display: block;
  font-size: 32px;
  line-height: 41.6px;
  padding-top: 26px;
}
.team__photobox {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.team__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 350px;
}
.team__box-name {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 5px;
}
.team__box-creater {
  font-size: 14px;
  line-height: 23.8px;
  color: #ffffff;
}
.team__btn {
  margin-top: 80px;
  padding: 13px 37px;
  background: #fd8558;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 115px;
}
.team__btn:hover {
  background: #f95011;
  transition: background 0.3s linear;
}

.photo1 {
  background: url("./img/img_team/anna.jpg") center no-repeat;
}

.photo2 {
  background: url("./img/img_team/andy.jpg") center no-repeat;
}

.photo3 {
  background: url("./img/img_team/katy.jpg") center no-repeat;
}

.photo4 {
  background: url("./img/img_team/margo.jpg") center no-repeat;
}

.photo5 {
  background: url("./img/img_team/kanye.jpg") center no-repeat;
}

.photo6 {
  background: url("./img/img_team/matra.jpg") center no-repeat;
}

.testimonials {
  background-color: #3a0f73;
}
.testimonials__container {
  padding: 334px 120px 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials__text {
  position: relative;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-align: center;
  max-width: 824px;
  width: 100%;
  margin-bottom: 64px;
}
.testimonials__text:before {
  content: "testimonials";
  position: absolute;
  font-size: 200px;
  line-height: 220px;
  color: #f7f7f7;
  opacity: 0.1;
  top: -280px;
  left: -220px;
}
.testimonials__bio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials__img {
  width: 60px;
  height: 60px;
  background: url("./img/testimonials_img/testimonials.png") center no-repeat;
  margin-right: 15px;
}
.testimonials__fio {
  font-size: 14px;
  line-height: 22.4px;
  color: #ffffff;
}
.testimonials__name {
  font-size: 14px;
  line-height: 22.4px;
  color: #ffffff;
}
.testimonials__creater {
  font-size: 16px;
}

.planet__container {
  padding-top: 125px;
  text-align: center;
}
.planet__title {
  display: block;
  margin-bottom: 43px;
}
.planet__subtitle {
  display: block;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 41.6px;
  color: #222222;
}
.planet__list {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  gap: 30px;
}
.planet__items {
  text-align: left;
  font-size: 15px;
  line-height: 21px;
}
.planet__items:hover {
  transform: scale(1.05);
  transition: transform 0.3s linear;
}
.planet__img {
  width: 360px;
  height: 243px;
}
.planet__tag {
  padding-top: 28px;
}
.planet__style {
  color: #fd8558;
  padding-right: 5px;
}
.planet__design {
  color: #fd8558;
}
.planet__date {
  color: #999999;
  position: relative;
  padding-left: 30px;
}
.planet__date:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #DFDEDE;
  top: 8px;
  left: 15px;
}
.planet__text {
  padding-top: 20px;
  font-size: 24px;
  line-height: 33px;
  color: #222222;
  max-width: 326px;
  margin-bottom: 36px;
}
.planet__link {
  font-size: 15px;
  line-height: 31px;
  color: #fd8558;
}
.planet__link:hover {
  color: #8D2701;
  transition: color 0.3s linear;
}

.message {
  padding-top: 115px;
}
.message__container {
  display: flex;
}
.message__text {
  margin-right: 132px;
}
.message__text-top {
  margin-bottom: 45px;
}
.message__text-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #222222;
  opacity: 0.4;
}
.message__text-subtitle {
  font-size: 24px;
  line-height: 33px;
  color: #222222;
}
.message__form-top {
  margin-bottom: 30px;
}
.message__form-top::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: #999999;
}
.message__form-name {
  padding: 20px 40px;
  width: 338px;
  height: 58px;
  border: 1px solid #eeeeee;
  margin-right: 30px;
}
.message__form-name:focus {
  transition: box-shadow 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.message__form-mail {
  padding: 20px 40px;
  width: 338px;
  height: 58px;
  border: 1px solid #eeeeee;
}
.message__form-mail:focus {
  transition: box-shadow 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.message__form-text {
  padding: 20px 40px;
  width: 100%;
  height: 128px;
  border: 1px solid #eeeeee;
  resize: none;
}
.message__form-text:focus {
  transition: box-shadow 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.message__form-btn {
  margin-top: 65px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  padding: 17px 38px;
  background: #fd8558;
}
.message__form-btn:hover {
  background: #f95011;
  transition: background 0.3s linear;
}

.footer {
  background: #111111;
  color: #ffffff;
  margin-top: 100px;
}
.footer__container {
  padding: 90px 0;
}
.footer__top {
  display: flex;
}
.footer__top-left {
  margin-right: 120px;
}
.footer__top-logo {
  font-size: 40px;
  line-height: 54px;
  display: block;
  margin-bottom: 20px;
  color: #eeeeee;
}
.footer__phone {
  font-size: 15px;
  line-height: 22.5px;
  color: #ffffff;
  opacity: 0.6;
  margin-right: 20px;
}
.footer__span {
  font-size: 15px;
  line-height: 22.5px;
  color: #ffffff;
  opacity: 0.6;
  position: relative;
  margin-right: 10px;
}
.footer__span:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  background: #A0A0A0;
  top: 4px;
  left: -9px;
}
.footer__mail {
  font-size: 15px;
  line-height: 22.5px;
  color: #ffffff;
  opacity: 0.6;
}
.footer__top-right {
  display: flex;
}
.footer__list:not(:last-child) {
  margin-right: 130px;
}
.footer__link-bold {
  display: block;
  font-size: 24px;
  line-height: 31.2px;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__link {
  font-size: 14px;
  line-height: 19.4px;
  color: #BABABA;
  display: block;
  margin-bottom: 10px;
}
.footer__link:hover {
  color: #ffffff;
  transition: color 0.3s linear;
}
.footer__bottom {
  margin-top: 70px;
  text-align: center;
}
.footer__bottom-text {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #BABABA;
}
.footer__bottom-text span {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
